:root {
   --body-bg:var(--body-bg)#fafafa;
   --body-color:var(--body-color)#222;
   
}
.dark-mode:root{
    --body-bg:var(--body-bg)#000000;
    --body-color:var(--body-color)#ffffff;
    
}

body{
    
   position: relative; 
   background-color: rgb(235, 195, 219); 
   background-color: var(--body-bg);
   color: var(--body-color)
}
.dark-mode {
    background-color: black;

} 
input{
    visibility: hidden;
    text-align: center;
}
label{
    position: absolute;
    margin-top: 35px;
    color: #383232;
    font-size:25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.6) 3px -4px 3px;
    text-align: center;
    left: 46%;
}


#title{
    font-style: italic;
    color: rgba(182, 104, 255, 0.658);
    border-style: hidden;
    text-shadow: black -3px 2px;
    font-size: 30px;
    text-align: center;
}
img{
border-radius: 100% ;
width: 10%; 
border: 4px solid rgb(225, 105, 219);
text-shadow: black;
}
a{
    text-decoration: none;
    color: rgb(31, 9, 196);
    
}


.link{
    border: 3px solid rgb(243, 116, 236) ;
    margin: auto;
    width: 30%;
    justify-content: center;
    margin-top: 10px;
    border-radius: 8px;
    font-size: large;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 1px -1px 1px;
    overflow: hidden;
    }
   
.link:hover{
    background-color: rgb(252, 202, 231);
     
    }
.link :hover{
        color:  rgb(255, 255, 255);
        text-shadow: rgba(0, 0, 0, 0.6) 2px -2px 1px;
       
    }
 


     

   


    
   
    
    



   
   